<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nosleep.githubclient">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.ui.HomeActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:name=".commits.ui.CommitsActivity"
            android:parentActivityName=".home.ui.HomeActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".branches.ui.BranchesActivity"
            android:parentActivityName=".home.ui.HomeActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.ui.HomeActivity" />
        </activity>

        <provider
            android:name=".datalayer.storage.DataProvider"
            android:authorities="com.nosleep.githubclient.datalayer.storage" />
    </application>

</manifest>
